autopep8==1.5.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptg==0.2.post2
decorator==4.4.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
moviepy==1.0.3
numpy==1.20.1
Pillow==8.1.0
proglog==0.1.9
pyaes==1.6.1
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
python-dotenv==0.15.0
requests==2.25.1
rsa==4.7.2
Telethon==1.20
toml==0.10.2
tqdm==4.58.0
urllib3==1.26.3
